<header class="header">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsiveness -->
  <div class="container">
      <div class="follow-paragraph">
        <p class="text">Follow us </p>&nbsp;&nbsp;
      <img src="/facebook.png" alt="Facebook" class="FBIcon" />
        &nbsp;
      <img src="/instagram.png" alt="Instagram" class="INIcon" />
        &nbsp;
      <img src="/twitter.png" alt="Twitter" class="TWIcon" />
    </div>

    <div class="title-section">
      <h1 class="site-title">ARTnews</h1>
    </div>
  </div>

  <button class="subscribeButton" routerLink="/email-form">
    SUBSCRIBE<br>to ARTnews
  </button>
  <button class="loginButton" routerLink="/login-form">Log in</button>
  <button class="registerButton" routerLink="/register-form">Register</button>

</header>

