<div class="container">
  <h1 class="title">Contact Us</h1>
  <h3 class="title2">ARTnews</h3>
  <p class="paragraph">
    ARTnews <br>
    475 Fifth Avenue <br>
    16th Floor <br>
    New York, NY 10017 <br>
    Phone: (212) 398-1690 <br>
    <br>
    To send a letter to the Editors of ARTnews: <span class="coloredText">editorial&#64;artnews.com</span><br>
    <br>
    For advertising inquiries: <span class="coloredText">ads&#64;artnews.com</span> <br>
    <br>
    For accounts receivable and other financial inquiries: <span class="coloredText">ar&#64;artnews.com</span> <br>
    <br>
    Accolades and Article Reprints & Permissions <br>
    Wright’s Media <br>
    Email: <span class="coloredText">PMC&#64;wrightsmedia.com</span> <br>
  </p>
</div>

<div class="container">
  <h3 class="title2">Art in America</h3>
  <p class="paragraph">
    Art in America <br>
    475 Fifth Avenue <br>
    New York, NY 10017 <br>
    Tel: 212.398.1690 <br>
    <br>
    Send your comments to The Editors of Art in America: <span class="coloredText">aiaeditor&#64;artinamericamag.com</span> <br>
    <br>
    For subscription inquiries, payments, renewals, or address changes,
    please log into <span class="coloredText">Customer Service</span> or call <span class="coloredText">212.764.6690.</span>
    You may also email Art in America at <span class="coloredText">customerservice&#64;artnews.com.</span><br>
    <br>
    Subscribe to Art in America Magazine. <br>
    <br>
    For advertising inquiries: <span class="coloredText">ads&#64;artnews.com</span><br>
    <br>
    For accounts receivable and other financial inquiries: <span class="coloredText">ar&#64;artnews.com</span> <br>
    <br>
  </p>
</div>

<div class="container">
  <h3 class="title2">The Art in America Guide</h3>
  <p class="paragraph">
    To inquire into the Art in America Guide,
    visit <span class="coloredText">artinamericaguide.com</span> or email Kristie Nilsson <span class="coloredText">guide&#64;artinamericamag.com</span> <br>
    <br>
    Accolades and Article Reprints & Permissions <br>
    Wright’s Media <br>
    Email: <span class="coloredText">PMC&#64;wrightsmedia.com</span> <br>
  </p>
</div>

