<div class="container1">
  <h1 class="aboutTitle">About Us</h1>
    <h3 class="aboutTitle2">About ARTnews</h3>
      <p class="paragraph">Since 1902, ARTnews has been the most trusted source for news of the global art world and the art market.
        It is a digital-first publication that delivers up-to-the minute developments across its website and newsletters.
        Our one print issue is the annual Top 200 Collectors issue which, since 1990, has been the definitive source on the world’s most active and important art collectors.
        The publication’s thousands of contributors have included Alfred Barr, Bernard Berenson, Kenneth Clark, Robert Coles, Arthur Danto, Carlos Fuentes, Pete Hamill, Aldous Huxley, Steve Martin, Louise Nevelson, Bob Nickas, Francine Prose, Harold Rosenberg, David Salle, Jean-Paul Sartre, and William Carlos Williams.
      </p>
</div>

<div class="container2">
  <h3 class="aboutTitle2">About Art in America</h3>
  <p class="paragraph">Since 1913, Art in America has published groundbreaking critical insights about contemporary art and culture.
    Each quarterly issue features exhibition reviews, a collectible artist print, interviews with leading artists, and in-depth essays by individuals at the forefront of their fields.
    Between its flagship print edition and growing digital presence, Art in America today reaches both influential art world insiders and a broad audience invested in understanding pivotal cultural trends.
  </p>
</div>

<div class="container3">
  <h3 class="aboutTitle2">About Our Team</h3>
  <div class="photo">
    <img src="/sarahDouglas.JPG" alt="photo" class="teamPhoto" />
  </div>
  <p class="paragraph">
    <b>Sarah Douglas</b> was appointed editor-in-chief of ARTnews in July 2014.
    She has been an art journalist and editor for numerous publications for 20 years, beginning with four years running the US editorial office of the Art Newspaper, after a stint writing exhibition reviews and previews for the New York Times online.
    Before ARTnews, she was culture editor at the New York Observer, and she launched a visual art site called Gallerist.
    Prior to that, she spent six years as a staff writer at Art+Auction magazine and its website, Artinfo.com.
    Sarah has contributed to the New York Times, New York magazine, the Economist, Flash Art, and the National, among other publications, writing about art, the art market, and the art world.
    She has also participated in and led numerous panel discussions on topics ranging from art collectors’ estate planning to museum funding.
    Douglas has been interviewed about the art market on the NPR programs “Marketplace” and “Studio 360 with Kurt Andersen.”
    Books about the art world and the art market that cite her work include Don Thompson’s $12 Million Stuffed Shark: The Curious Economics of Contemporary Art and Michael Shnayerson’s Boom: Mad Money, Mega Dealers, and the Rise of Contemporary Art.
    In 2013 Sarah received ArtTable’s New Leadership award.
    She is not to be confused with the English actress Sarah Douglas who played the Kryptonian supervillian Ursa in Superman and Superman II.
    She tweets at &#64;SarahLDouglas
  </p>
</div>

<div class="container4">
  <div class="photo">
    <img src="/ericaLubow.JPG" alt="photo" class="teamPhoto" />
  </div>
  <p class="paragraph">
    <b>Erica Lubow Necarsulmer</b> is publisher of ARTnews and Art in America.
    A native New Yorker, her first appearance on the New York art scene was by means of “Learning Through Art,” a program for second- to sixth-grade students in which her work was shown at the Guggenheim Museum.
    She pursued this interest at Denison University, from which she graduated with a minor in studio art and a major in psychology.
    In 2005, after working at the New York Sun newspaper in the Travel and Arts sections, she started at ARTnews, owned at the time by Milton Esterow.
    Since moving to ARTnews, Erica has witnessed the business go from focusing purely on print to the start of ARTnews.com, and the daily newsletters Breakfast with ARTnews and ARTnews Today, social media sponsorships, engaging sponsored content options, webinars, podcasts, and live media.
    In 2015, when ARTnews came together with Art in America under the ownership of Peter M. Brant, Erica assumed the position of senior account manager; she was named publisher of ARTnews in 2017.
    Erica works closely with ARTnews editor-in-chief Sarah Douglas, coordinating the work of editorial and business teams to safeguard the publication’s integrity and promote its award-winning reporting.
    She lives in Manhattan with her husband and twin daughter and son.
  </p>
</div>

<div class="container5">
  <div class="photo">
    <img src="/andyBatagglia.JPG" alt="photo" class="teamPhoto" />
  </div>
  <p class="paragraph">
    <b>Andy Battaglia</b> is executive editor of ARTnews and Art in America.
    Prior to joining the magazines in 2016, he was a freelance writer for publications including the Wall Street Journal, Frieze, the Paris Review, New York, the Guardian, the National, Bookforum, Salon, and the Washington Post.
    From 2001 to 2010, he was an editor and staff writer for the Onion A.V. Club.
    Among his many interests are music and sound, which he has written about extensively for the Wire, Pitchfork, Rolling Stone, Spin, NPR, Resident Advisor, and other publications.
    He recently contributed essays to the book Kevin Beasley: A View of a Landscape and the book and digital album Unsound: Intermission.
    His favorite writings for ARTnews and Art in America include profiles of Fred Moten, Harmony Korine, Matthew Barney, and Michael Stipe, as well as features on James Turrell’s Roden Crater, the interdisciplinary ocean-going art enterprise TBA21–Academy, sales of rare whiskey at auction, and conceptual complexities surrounding the Panza Collection.
    He studied journalism and art history at the University of Georgia.
    Follow him &#64;andybattaglia9
  </p>
</div>

<div class="container6">
  <div class="photo">
    <img src="/alexGreenberger.JPG" alt="photo" class="teamPhoto" />
  </div>
  <p class="paragraph">
    <b>Alex Greenberger</b> is a senior editor at ARTnews, having started there as an editorial assistant in 2015.
    He has covered topics ranging from protests against a former Whitney Museum vice chair in 2018 and 2019 to the controversy involving charges of anti-Semitism and harassment in Documenta 15 in 2022.
    In his criticism, Greenberger has addressed body horror, the history of video art, the legacy of Pablo Picasso, and the work of artists Wangechi Mutu, Wolfgang Tillmans, Marlene Dumas, and innumerable others.
    His articles have also appeared in Artspace and the Village Voice, and in gallery catalogs.
    He graduated from New York University with a BA in art history and cinema studies.
    Reach him at agreenberger&#64;artnews.com
  </p>
</div>
