<nav class="navbar">
  <div class="container">
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About us</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a></li>
      <li><a routerLink="/purchase-back-issues" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Purchase back issues</a></li>
     </ul>
  </div>
</nav>

